<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gráfico de Quantidade por data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
   
    <style>
        .titulo {
            text-align: center;
            font-size: 24px;
            color: #000000;
            font-weight: bold;
            padding: 10px;
        }

		.volumePercentual {
			font-size: 14px;
            color: #006400;
			text-align: center;
		}
        .filtro {
            text-align: center;
            padding: 10px;
        }

        .chart-container {
            padding: 15px;
        }

        .chart {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="navmenu" th:insert="~{navbar :: menu-principal}"></div>

    <div class="titulo">
        SIMECC - SISTEMA INTEGRADO DE MERCADO E ESTATÍSTICA DA CEASA CAMPINAS
    </div>

    <!-- Filtros de Data -->
    <div class="container filtro">
        <form method="GET" action="/" class="d-flex justify-content-center align-items-center gap-2">
            <label for="startDate" class="form-label small">Data de Início:</label>
            <input type="date" id="startDate" name="startDate" class="form-control form-control-sm" value="[[${startDate}]]">
            <label for="endDate" class="form-label small">Data Final:</label>
            <input type="date" id="endDate" name="endDate" class="form-control form-control-sm" value="[[${endDate}]]">
            <button type="submit" class="btn btn-primary btn-sm">Atualizar Gráficos</button>
        </form>
         <p><strong>dados extraídos das notas fiscais entre as datas de : </strong> [[${#temporals.format(startDate, 'dd-MM-yyyy')}]] até [[${#temporals.format(endDate,'dd-MM-yyyy')}]]</p>
         <p><strong>Volume Total Comercializado:</strong> [[${(volumeTotal)}]] Kilos</p>
    </div>

    <div class="container">
        <div class="row">
            <!-- Gráfico Polar Area dos Subgrupos -->
            <div class="col-md-6 chart-container">
                <h4 class="text-center"> Volume por Subgrupo</h4>
                <div class="chart">
                    <canvas id="myPolarAreaChart"></canvas>
                </div>
                <div id="subgrupoPercentual" class = "volumePercentual">
                    <!-- Percentuais serão preenchidos pelo JavaScript -->
                </div>
            </div>

            <!-- Gráfico de Rosca dos Produtos -->
            <div class="col-md-6 chart-container">
                <h4 class="text-center"> Volume por Produtos</h4>
                <div class="chart">
                    <canvas id="myDoughnutChart"></canvas>
                </div>
                <div id="produtoPercentual" class = "volumePercentual">
                    <!-- Percentuais serão preenchidos pelo JavaScript -->
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        // Configuração do Gráfico Polar Area
        var subgrupoData = /*[[${subgrupoDTO}]]*/ '[[${subgrupoDTO}]]';
        var parsedSubgrupoData = JSON.parse(subgrupoData);
        var subgrupoLabels = parsedSubgrupoData.map(item => item.subgrupo);
        var subgrupoValues = parsedSubgrupoData.map(item => item.totalPeso);

        var polarCtx = document.getElementById('myPolarAreaChart').getContext('2d');
        var myPolarAreaChart = new Chart(polarCtx, {
            type: 'doughnut',
            data: {
                labels: subgrupoLabels,
                datasets: [{
                    data: subgrupoValues,
                    backgroundColor: ['#40E0D0', '#36A2EB', '#FFCE56', '#FF5733', '#33FF57','#0000FF'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    datalabels: {
                        color: '#000000',
                        font: { size: 10, weight: 'bold' },
                        padding: function(context) {
                            return context.dataIndex < 4 ? { top: 5, bottom: 5 } : { top: 1 };
                        },
                        formatter: function(value, context) {
                            return context.dataIndex < 4 ? value.toLocaleString('pt-BR') + ' Kilos' : "";
                        }
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            const dataset = data.datasets[tooltipItem.datasetIndex];
                            const value = dataset.data[tooltipItem.index];
                            return value.toLocaleString('pt-BR') + ' Kilos';
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Configuração do Gráfico de Rosca
        var produtoData = /*[[${produtosDTO}]]*/ '[[${produtosDTO}]]';
        var parsedProdutoData = JSON.parse(produtoData);
        var produtoLabels = parsedProdutoData.map(item => item.produto);
        var produtoValues = parsedProdutoData.map(item => item.totalPeso);

        var totalOutros = parsedProdutoData.reduce((total, item, index) => {
            return index >= 6 ? total + item.totalPeso : total;
        }, 0);
        
        var doughnutCtx = document.getElementById('myDoughnutChart').getContext('2d');
        var myDoughnutChart = new Chart(doughnutCtx, {
            type: 'pie',
            data: {
                labels: produtoLabels.slice(0, 6).concat("Outros"),
                datasets: [{
                    label: 'Volume por Produto (Outros: ' + totalOutros.toLocaleString('pt-BR') + ' Kilos)',
                    data: produtoValues.slice(0, 6).concat(totalOutros),
                    backgroundColor: ['#8B0000', '#006400', '#8B008B', '#4B0082', '#8B4513','#2F4F4F','#000080'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    datalabels: {
                        color: '#ffffff',
                        font: { size: 12, weight: 'bold' },
                        formatter: function(value) {
                            return value.toLocaleString('pt-BR') + ' Kilos';
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Total de volume para cálculo de percentuais
        var volumeTotal = /*[[${volumeTotal}]]*/ '[[${volumeTotal}]]';

        // Calcular e exibir percentuais para Subgrupos
        var subgrupoPercentualHTML = "<h6>Percentuais de Subgrupos</h5><ul>";
        subgrupoValues.forEach((value, index) => {
            var percent = ((value / volumeTotal) * 100).toFixed(1);
            subgrupoPercentualHTML += `${subgrupoLabels[index]}: ${percent}% (${value.toLocaleString('pt-BR')} Kilos ) - `;
        });
        subgrupoPercentualHTML += "</ul>";
        document.getElementById('subgrupoPercentual').innerHTML = subgrupoPercentualHTML;

        // Calcular e exibir percentuais para Produtos
        var produtoPercentualHTML = "<h6>Percentuais de Produtos</h5><ul>";
        produtoValues.slice(0, 6).forEach((value, index) => {
            var percent = ((value / volumeTotal) * 100).toFixed(1);
            produtoPercentualHTML += `${produtoLabels[index]}: ${percent}% (${value.toLocaleString('pt-BR')} Kilos ) - `;
        });
        var outrosPercent = ((totalOutros / volumeTotal) * 100).toFixed(1);
        produtoPercentualHTML += `Outros: ${outrosPercent}% (${totalOutros.toLocaleString('pt-BR')} Kilos)`;
        produtoPercentualHTML += "</ul>";
        document.getElementById('produtoPercentual').innerHTML = produtoPercentualHTML;
    </script>
</body>
</html>
