<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title>Sistema DEVCEASA</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

<body>

	<div id="navmenu" th:insert="~{navbar :: menu-principal}"></div>

	<div class="container">

		<div th:replace="~{alert}"></div>
		<br>
		<div class="meu-hr">
			<p>Cotação de produtos</p>
		</div>

		<form
			th:action="${cotacao.id == null} ? @{/cotacoes/salvar} : @{/cotacoes/editar}"
			th:object="${cotacao}" method="POST">

			<div th:replace="~{validacao :: validacao}"></div>
			
			<!-- Data da Cotacao aqui -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="dataCotacao">Data da Cotação</label> <input type="date"
						class="form-control" id="dataCotacao" autofocus="autofocus"
						th:field="*{dataCotacao}" th:value="${dataCotacao}" required />
					<div class="invalid-feedback">
						<span th:errors="*{dataCotacao}"></span>
					</div>
				</div>
			</div>

			<!-- Novo campo de pesquisa de propriedade por código -->
            <div class="form-group">
                <label for="propertyCode">Código da Propriedade:</label>
                <input type="text" id="propertyCode" class="form-control" placeholder="Digite o código da propriedade">
            </div>

            <!-- Novo campo de pesquisa de propriedade por nome de produto -->
            <div class="form-group">
                <label for="productName">Nome do Produto:</label>
                <input type="text" id="productName" class="form-control" placeholder="Digite o nome do produto">
                <button type="button" class="btn btn-secondary" id="searchProductButton">Pesquisar</button>
            </div>

            <!-- Resultados da Pesquisa -->
            <div id="searchResults">
                <!-- Resultados da pesquisa serão carregados aqui -->
            </div>

            <!-- Campos ocultos para armazenar os valores da propriedade selecionada -->
            <input type="hidden" id="selectedPropertyId" th:field="*{propriedade.id}">
            <input type="hidden" id="selectedPropertyCodigo" th:field="*{propriedade.codigo}">
            <input type="hidden" id="selectedPropertyVariedade" th:field="*{propriedade.variedade}">
            <input type="hidden" id="selectedPropertySubvariedade" th:field="*{propriedade.subvariedade}">
            <input type="hidden" id="selectedPropertyClassificacao" th:field="*{propriedade.classificacao}">
            <input type="hidden" id="selectedPropertyUnidade" th:field="*{propriedade.unidade}">
            <input type="hidden" id="selectedPropertyPeso" th:field="*{propriedade.peso}">
            <input type="hidden" id="selectedPropertyEmbalagem" th:field="*{propriedade.embalagem}">
            <input type="hidden" id="selectedPropertyProdutoNome" th:field="*{propriedade.produto.nome}">

            <!-- Campo de seleção de propriedade atualizado -->
         

            <div>
                <p id="selecaoAtual">Seleção Atual:</p>
            </div>

			
			
	
			<div class="row">

				<div class="col ">
					<label for="valor1">Valor cotado(1)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor1"
						data-mask-reverse="true" th:field="*{valor1}" required
						th:classappend="${#fields.hasErrors('valor1')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor1}"></span>
					</div>
				</div>

				<div class="col">
					<label for="valor2">Valor cotado(2)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor2"
						data-mask-reverse="true" th:field="*{valor2}" required
						th:classappend="${#fields.hasErrors('valor2')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor2}"></span>
					</div>
				</div>

			</div>


			<div class="row">

				<div class="col">
					<label for="valor3">Valor cotado(3)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor3"
						data-mask-reverse="true" th:field="*{valor3}" required
						th:classappend="${#fields.hasErrors('valor3')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor3}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor4">Valor cotado(4)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor4"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor4}"
						th:classappend="${#fields.hasErrors('valor4')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor4}"></span>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="valor5">Valor cotado(5)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor5"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor5}"
						th:classappend="${#fields.hasErrors('valor5')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor5}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor6">Valor cotado(6)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor6"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor6}"
						th:classappend="${#fields.hasErrors('valor6')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor6}"></span>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="valor7">Valor cotado(7)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor7"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor7}"
						th:classappend="${#fields.hasErrors('valor7')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor7}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor8">Valor cotado(8)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor8"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor8}"
						th:classappend="${#fields.hasErrors('valor8')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor8}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="valor9">Valor cotado(9)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor9"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor9}"
						th:classappend="${#fields.hasErrors('valor9')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor9}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor10">Valor cotado(10)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor10"
						data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor10}"
						th:classappend="${#fields.hasErrors('valor10')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor10}"></span>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="pesoVariavel">Peso Opcional</label> 
					
					<input type="text"
						class="form-control valor-com-virgula" id="pesoVariavel"
						data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{pesoVariavel}"
						th:classappend="${#fields.hasErrors('pesoVariavel')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{pesoVariavel}"></span>
					</div>
					
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label for="precoMinimo">Preco Minimo</label> <input type="text"
						class="form-control" id="precoMinimo" data-mask="#.##0,00"
						data-mask-reverse="true" th:field="*{precoMinimo}" required
						th:classappend="${#fields.hasErrors('precoMinimo')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{precoMinimo}"></span>
					</div>
				</div>
				

			<div class="col">
					<label for="valorComum">Preco Comum</label> <input type="text"
						class="form-control" id="valorComum" data-mask="#.##0,00"
						data-mask-reverse="true" th:field="*{valorComum}" required
						th:classappend="${#fields.hasErrors('valorComum')} ? 'is-invalid'" />


					<div class="invalid-feedback">
						<span th:errors="*{valorComum}"></span>
					</div>
				</div>

				<div class="col">
					<label for="precoMaximo">Preco Máximo</label> <input type="text"
						class="form-control" id="precoMaximo" data-mask="#.##0,00"
						data-mask-reverse="true" th:field="*{precoMaximo}" required
						th:classappend="${#fields.hasErrors('precoMaximo')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{precoMaximo}"></span>
					</div>
				</div>

			 <div class="col">
					<label for="precoMedio">Preco Médio</label> <input type="text"
						class="form-control" id="precoMedio" data-mask="#.##0,00"
						data-mask-reverse="true" th:field="*{precoMedio}" required
						th:classappend="${#fields.hasErrors('precoMedio')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{precoMedio}"></span>
					</div>
				</div> 
				
				<input type="hidden" id="valorComumAnterior"
					name="valorComumAnterior" value="${valorComumAnterior}" /> <input
					type="hidden" id="mercado" name="mercado" value="${mercado}" />

				<div class="col">
					<br>
					<button type="button" class="btn btn-primary"
						onclick="calcularValores()">Calcular Valores</button>
				</div>
			</div>


			<div class="row">

				<div class="col">
					<br> <input type="hidden" id="id" th:field="*{id}" />
					<button type="submit" class="btn btn-primary btn-sm"
						onclick="calcularMercado()">Salvar</button>
				</div>
			</div>
		</form>
	</div>

   

    <script>
        $(document).ready(function() {
            $('#propertyCode').on('input', function() {
                let code = $(this).val();
                if (code.length > 0) {
                    $.ajax({
                        url: '/searchPropertyByCode',
                        method: 'GET',
                        data: { code: code },
                        success: function(data) {
                            if (!data) {
                                $('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
                            } else {
                                $('#selectedPropertyId').val(data.id);
                                $('#selectedPropertyCodigo').val(data.codigo);
                                $('#selectedPropertyVariedade').val(data.variedade);
                                $('#selectedPropertySubvariedade').val(data.subvariedade);
                                $('#selectedPropertyClassificacao').val(data.classificacao);
                                $('#selectedPropertyUnidade').val(data.unidade);
                                $('#selectedPropertyPeso').val(data.peso);
                                $('#selectedPropertyEmbalagem').val(data.embalagem);
                                $('#selectedPropertyProdutoNome').val(data.produto.nome);
                                $('#searchResults').html('<p>Propriedade encontrada: ' + data.codigo + ' - ' + data.produto.nome + ' ' + data.variedade + ' ' + data.subvariedade + '</p>');
                            }
                        },
                        error: function() {
                            $('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
                        }
                    });
                }
            });

            $('#searchProductButton').click(function() {
                let productName = $('#productName').val();
                if (productName.length > 0) {
                    $.ajax({
                        url: '/searchPropertyByProductName',
                        method: 'GET',
                        data: { productName: productName },
                        success: function(data) {
                            if (data.length === 0) {
                                $('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
                            } else {
                                let resultsHtml = '<ul>';
                                data.forEach(function(item) {
                                    resultsHtml += '<li><a href="#" class="select-property" data-id="' + item.id + '" data-codigo="' + item.codigo + '" data-variedade="' + item.variedade + '" data-subvariedade="' + item.subvariedade + '" data-classificacao="' + item.classificacao + '" data-unidade="' + item.unidade + '" data-peso="' + item.peso + '" data-embalagem="' + item.embalagem + '" data-produto-nome="' + item.produto.nome + '">' + item.codigo + ' - ' + item.produto.nome + ' ' + item.variedade + ' ' + item.subvariedade + '</a></li>';
                                });
                                resultsHtml += '</ul>';
                                $('#searchResults').html(resultsHtml);

                                $('.select-property').click(function(e) {
                                    e.preventDefault();
                                    $('#selectedPropertyId').val($(this).data('id'));
                                    $('#selectedPropertyCodigo').val($(this).data('codigo'));
                                    $('#selectedPropertyVariedade').val($(this).data('variedade'));
                                    $('#selectedPropertySubvariedade').val($(this).data('subvariedade'));
                                    $('#selectedPropertyClassificacao').val($(this).data('classificacao'));
                                    $('#selectedPropertyUnidade').val($(this).data('unidade'));
                                    $('#selectedPropertyPeso').val($(this).data('peso'));
                                    $('#selectedPropertyEmbalagem').val($(this).data('embalagem'));
                                    $('#selectedPropertyProdutoNome').val($(this).data('produto-nome'));
                                    $('#searchResults').html('<p>Propriedade selecionada: ' + $(this).data('codigo') + ' - ' + $(this).data('produto-nome') + ' ' + $(this).data('variedade') + ' ' + $(this).data('subvariedade') + '</p>');
                                });
                            }
                        },
                        error: function() {
                            $('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
                        }
                    });
                }
            });
        });
    </script>
	<script th:inline="javascript">
		/*<![CDATA[*/


		function limparCampos() {

			document.getElementById("valor1").value = "";
			document.getElementById("valor2").value = "";
			document.getElementById("valor3").value = "";
			document.getElementById("valor4").value = "";
			document.getElementById("valor5").value = "";
			document.getElementById("valor6").value = "";
			document.getElementById("valor7").value = "";
			document.getElementById("valor8").value = "";
			document.getElementById("valor9").value = "";
			document.getElementById("valor10").value = "";
			document.getElementById("precoMinimo").value = "";
			document.getElementById("precoMedio").value = "";
			document.getElementById("precoMaximo").value = "";
			document.getElementById("valorComum").value = "";

			buscarCotacaoAnterior();

		}
	
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			// Aplica a máscara para aceitar somente vírgulas em todos os campos de valor
			$('.valor-com-virgula').mask('#.##0,00', {
				reverse: true
			});
		});
		/*]]>*/
	</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/script/cotacao/buscarCotacaoAnterior.js"></script>
<script src="/script/cotacao/calcularMercado.js"></script>
<script src="/script/cotacao/limparCampoCodigo.js"></script><script src="/script/cotacao/filtrarPorCodigo.js"></script>
<script src="/script/cotacao/calcularValores.js"></script>


</body>

</html>
