<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title>Sistema DEVCEASA</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


</head>

<body>

	<div id="navmenu" th:insert="~{navbar :: menu-principal}"></div>



	<div class="container">

		<div th:replace="~{alert}"></div>

		<br>
		<div class="meu-hr">

			<p>Cotação de produtos</p>

		</div>


		<form th:action="${cotacao.id == null} ? @{/cotacoes/salvar} : @{/cotacoes/editar}" th:object="${cotacao}"
			method="POST">

			<div th:replace="~{validacao :: validacao}"></div>

			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="propriedade">Produto/Propriedade</label>
					<select id="propriedade" class="form-control" th:field="*{propriedade}"
						onchange="limparCampos(); buscarCotacaoAnterior()">
						<option value="">Selecione...</option>
						<option th:each="p : ${cotados}" th:data-peso="${p.peso}" th:value="${p.id}" th:text="${p.produto.nome} + ' - ' + 
            ${p.codigo} + ' - ' + ${p.variedade}  + '  ' + 
            ${p.subvariedade} + '  ' + ${p.classificacao}  + '  ' + 
            ${p.unidade} + '  ' + ${p.peso} + '   ' + 
            ${p.embalagem}">
						</option>
					</select>
					<div class="input-group-append">
						<span class="input-group-text">ou</span>
					</div>
					<input type="text" class="form-control" id="codigoPesquisa" placeholder="Pesquisar por código"
						oninput="filtrarPorCodigo()">
				</div>
			</div>

			<div>
				<p id="selecaoAtual">Seleção Atual: </p>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="dataCotacao">Data da Cotação</label> <input type="date" class="form-control"
						id="dataCotacao" autofocus="autofocus" th:field="*{dataCotacao}" th:value="${dataCotacao}"
						required />
					<div class="invalid-feedback">
						<span th:errors="*{dataCotacao}"></span>
					</div>
				</div>
			</div>
			<!-- 
 <button type="button" class="btn btn-primary" onclick="buscarCotacaoAnterior()">Buscar Cotação Anterior</button>
 -->
			<div class="row">

				<div class="col ">
					<label for="valor1">Valor cotado(1)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor1" data-mask-reverse="true" th:field="*{valor1}"
						required th:classappend="${#fields.hasErrors('valor1')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor1}"></span>
					</div>
				</div>

				<div class="col">
					<label for="valor2">Valor cotado(2)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor2" data-mask-reverse="true" th:field="*{valor2}"
						required th:classappend="${#fields.hasErrors('valor2')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor2}"></span>
					</div>
				</div>

			</div>


			<div class="row">

				<div class="col">
					<label for="valor3">Valor cotado(3)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor3" data-mask-reverse="true" th:field="*{valor3}"
						required th:classappend="${#fields.hasErrors('valor3')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor3}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor4">Valor cotado(4)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor4" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor4}" th:classappend="${#fields.hasErrors('valor4')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor4}"></span>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="valor5">Valor cotado(5)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor5" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor5}" th:classappend="${#fields.hasErrors('valor5')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor5}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor6">Valor cotado(6)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor6" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor6}" th:classappend="${#fields.hasErrors('valor6')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor6}"></span>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="valor7">Valor cotado(7)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor7" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor7}" th:classappend="${#fields.hasErrors('valor7')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor7}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor8">Valor cotado(8)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor8" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor8}" th:classappend="${#fields.hasErrors('valor8')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor8}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="valor9">Valor cotado(9)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor9" data-mask="#.##0,00" data-mask-reverse="true"
						th:field="*{valor9}" th:classappend="${#fields.hasErrors('valor9')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{valor9}"></span>
					</div>
				</div>
				<div class="col">
					<label for="valor10">Valor cotado(10)</label> <input type="text"
						class="form-control valor-com-virgula" id="valor10" data-mask="#.##0,00"
						data-mask-reverse="true" th:field="*{valor10}"
						th:classappend="${#fields.hasErrors('valor10')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{valor10}"></span>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="fatorSazonal">Fator Sazonal</label> <select id="fatorSazonal" class="form-control"
						th:field="*{fatorSazonal}" th:classappend="${#fields.hasErrors('fatorSazonal')} ? 'is-invalid'">
						<option value="">Selecione...</option>
						<option th:each="fator : ${fatores}" th:value="${fator}" th:text="${fator.descricao}">Normal
						</option>
					</select>
					<div class="invalid-feedback">
						<span th:errors="*{fatorSazonal}"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label for="precoMinimo">Preco Minimo</label> <input type="text" class="form-control"
						id="precoMinimo" data-mask="#.##0,00" data-mask-reverse="true" th:field="*{precoMinimo}"
						required th:classappend="${#fields.hasErrors('precoMinimo')} ? 'is-invalid'" />

					<div class="invalid-feedback">
						<span th:errors="*{precoMinimo}"></span>
					</div>
				</div>
				<div class="col">
					<label for="precoMedio">Preco Médio</label> <input type="text" class="form-control" id="precoMedio"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{precoMedio}" required
						th:classappend="${#fields.hasErrors('precoMedio')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{precoMedio}"></span>
					</div>
				</div>

				<div class="col">
					<label for="precoMaximo">Preco Máximo</label> <input type="text" class="form-control"
						id="precoMaximo" data-mask="#.##0,00" data-mask-reverse="true" th:field="*{precoMaximo}"
						required th:classappend="${#fields.hasErrors('precoMaximo')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{precoMaximo}"></span>
					</div>
				</div>

				<div class="col">
					<label for="valorComum">Preco Comum</label> <input type="text" class="form-control" id="valorComum"
						data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valorComum}" required
						th:classappend="${#fields.hasErrors('valorComum')} ? 'is-invalid'" />
					
					
					<div class="invalid-feedback">
						<span th:errors="*{valorComum}"></span>
					</div>
				</div>

				<input type="hidden" id="valorComumAnterior" name="valorComumAnterior" value="${valorComumAnterior}" />		
				<input type="hidden" id="mercado" name="mercado" value="${mercado}" />

				<div class="col">
					<br>
					<button type="button" class="btn btn-primary" onclick="calcularValores()">Calcular Valores</button>
				</div>
			</div>


			<div class="row">

				<div class="col">
					<br> <input type="hidden" id="id" th:field="*{id}" />
					<button type="submit" class="btn btn-primary btn-sm" onclick="calcularMercado()">Salvar</button>
				</div>
			</div>
		</form>
	</div>






	<script th:inline="javascript">
		/*<![CDATA[*/


		function limparCampos() {


			document.getElementById("valor1").value = "";
			document.getElementById("valor2").value = "";
			document.getElementById("valor3").value = "";
			document.getElementById("valor4").value = "";
			document.getElementById("valor5").value = "";
			document.getElementById("valor6").value = "";
			document.getElementById("valor7").value = "";
			document.getElementById("valor8").value = "";
			document.getElementById("valor9").value = "";
			document.getElementById("valor10").value = "";
			document.getElementById("precoMinimo").value = "";
			document.getElementById("precoMedio").value = "";
			document.getElementById("precoMaximo").value = "";
			document.getElementById("valorComum").value = "";

			buscarCotacaoAnterior();

		}

		function buscarCotacaoAnterior() {

			var propriedadeId = document.getElementById("propriedade").value;
			var dataCotacao = document.getElementById("dataCotacao").value;
			
			

			console.log("ID da cotação:", propriedadeId);
			console.log("Data da cotação:", dataCotacao);
			
			// Faça uma solicitação AJAX para buscar a cotação anterior
			// Você pode usar uma biblioteca como jQuery ou o objeto XMLHttpRequest para isso

			// Exemplo usando jQuery:
			$.ajax({
				url: "/cotacoes/buscar-cotacao-anterior",
				method: "GET",
				data: {
					propriedadeId: propriedadeId,
					dataCotacao: dataCotacao
				},
				success: function (response) {
					// Preencha os campos do formulário com os dados da cotação anterior
						
					
			 var campos = ["valor1", "valor2", "valor3", "valor4", "valor5", "valor6", "valor7", "valor8", "valor9", "valor10"];
            	campos.forEach(function (campo) {
                document.getElementById(campo).value = response[campo];
            });

           
					document.getElementById("precoMinimo").value = response.precoMinimo;
					document.getElementById("precoMedio").value = response.precoMedio;
					document.getElementById("precoMaximo").value = response.precoMaximo;
					document.getElementById("valorComum").value = response.valorComum;

					document.getElementById("valorComumAnterior").value = response.valorComum;
					console.log("Valor comum anterior:",document.getElementById("valorComumAnterior").value = response.valorComum) ;	
					// Preencha outros campos, se necessário
				},
				error: function () {
					// Trate erros, se necessário
				}
			});
		}




		function validarNumero(valor, campoId) {
			var numero = parseFloat(valor.replace(',', '.'));

			if (isNaN(numero)) {
				alert("Por favor, insira um valor numérico válido no campo " + campoId + ".");
				return false;
			}

			return true;
		}

		function calcularValores() {
			var valores = [];
			var camposValidos = true;

			for (var i = 1; i <= 10; i++) {
				var campoId = 'valor' + i;
				var valor = document.getElementById(campoId).value;

				if (valor !== '') {
					if (!validarNumero(valor, campoId)) {
						camposValidos = false;
						break;
					}

					valores.push(parseFloat(valor.replace(',', '.')));
				}
			}

			if (camposValidos) {



				// Ajusta o cálculo do preço mínimo considerando o peso da cotação
				var selectedIndex = document.getElementById('propriedade').selectedIndex;
				var selectedOption = document.getElementById('propriedade').options[selectedIndex];

				// Adicione um log para verificar o valor de peso
				console.log("Peso da Cotação: " + selectedOption.dataset.peso);

				var pesoDaCotacaoSelecionada = parseFloat(selectedOption.dataset.peso);


				
				if (isNaN(pesoDaCotacaoSelecionada) || pesoDaCotacaoSelecionada === null) {
					// Se for NaN ou nulo, atribui o valor 1
					pesoDaCotacaoSelecionada = 1;
				}

				console.log("Peso da Cotação (Float): " + pesoDaCotacaoSelecionada);



				var precoMinimo = Math.min.apply(null, valores) / pesoDaCotacaoSelecionada;
				var precoMaximo = Math.max.apply(null, valores) / pesoDaCotacaoSelecionada;
				var precoMedio = valores.reduce(function (acc, val) {
					return acc + val;
				}, 0) / valores.length / pesoDaCotacaoSelecionada;

				document.getElementById('precoMinimo').value = precoMinimo.toFixed(2).replace(',', '.');
				document.getElementById('precoMaximo').value = precoMaximo.toFixed(2).replace(',', '.');
				document.getElementById('precoMedio').value = precoMedio.toFixed(2).replace(',', '.');

				// Calcula o valor modal
				var contagemValores = {};
				valores.forEach(function (valor) {
					contagemValores[valor] = (contagemValores[valor] || 0) + 1;
				});

				var valorModal = null;
				var contagemMaxima = 0;

				for (var valor in contagemValores) {
					if (contagemValores[valor] > contagemMaxima) {
						contagemMaxima = contagemValores[valor];
						valorModal = parseFloat(valor) / pesoDaCotacaoSelecionada;
					}
				}

				if (contagemMaxima === 1) {
					alert('Alerta: Nenhum valor modal encontrado.');
				} else {
					alert('Valor Modal: ' + valorModal.toFixed(2));

					// Atualiza o campo valorComum (modal)
					document.getElementById('valorComum').value = valorModal.toFixed(2).replace(',', '.');
				}
			}
		}

// culc field mercado with valorComum anterior and atual
function calcularMercado() {
    var valorComumAtual = parseFloat(document.getElementById("valorComum").value);
    var valorComumAnterior = parseFloat(document.getElementById("valorComumAnterior").value);

    if (!isNaN(valorComumAnterior)) {
        if (valorComumAtual > valorComumAnterior) {
            document.getElementById("mercado").value = "MF"; // Mercado Forte
        } else if (valorComumAtual < valorComumAnterior) {
            document.getElementById("mercado").value = "MR"; // Mercado Ruim
        } else if (valorComumAtual === valorComumAnterior) {
            document.getElementById("mercado").value = "ME"; // Mercado Estável
        } else {
            document.getElementById("mercado").value = "MV"; // Mercado Vazio (não foi possível calcular a diferença)
        }
    } else {
        document.getElementById("mercado").value = "MV"; // Caso não tenha valores da cotação anterior
    }
}

// this funcion permit that search clean next input codigo, because if not clean the field show last codigo
		function limparCampoCodigo() {
			document.getElementById("codigoPesquisa").value = "";
		}

		function filtrarPorCodigo() {
			var input, filter, select, options, i, txtValue;
			input = document.getElementById("codigoPesquisa");
			filter = input.value.toUpperCase();
			select = document.getElementById("propriedade");
			options = select.getElementsByTagName("option");

			// Desmarcar todas as opções antes de aplicar o filtro
			for (i = 0; i < options.length; i++) {
				options[i].selected = false;
			}

			// Aplicar o filtro
			for (i = 0; i < options.length; i++) {
				txtValue = options[i].text || options[i].textContent;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					options[i].style.display = "";
					select.selectedIndex = i; // Selecionar automaticamente o produto encontrado
				} else {
					options[i].style.display = "none";
				}
			}

			// Atualizar a exibição da seleção atual
			var selectedOption = select.options[select.selectedIndex];
			var selectedText = selectedOption ? selectedOption.text || selectedOption.textContent : "";
			document.getElementById("selecaoAtual").innerText = "Seleção Atual: " + selectedText;

			// Limpar os campos e buscar a cotação anterior
			limparCampos();
			buscarCotacaoAnterior();
		}



	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			// Aplica a máscara para aceitar somente vírgulas em todos os campos de valor
			$('.valor-com-virgula').mask('#.##0,00', {
				reverse: true
			});
		});
		/*]]>*/
	</script>






</body>

</html>