<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form th:action="@{/change_password}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Current Password:</label>
            <input type="password" name="currentPassword" />
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" name="newPassword" />
        </div>
        <div>
            <button type="submit">Change Password</button>
        </div>
    </form>
</body>
</html>

