<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<title>DEVCEASA</title>
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

	<div id="navmenu" th:insert="~{navbar :: menu-principal}"> </div>


		<div class="container">

		<table class="table table-bordered">
				
				<br>
				<div class="meu-hr">
					<p>Listagem de subgrupos </p><hr>
				</div>
		
				<a class="inicio" th:href="@{/}">Início</a>
		
		
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome do Subgrupo</th>
						<th>Nome do Grupo</th>
						<th>Ações</th>
					</tr>
				</thead>
				<!-- Use Thymeleaf loop para exibir grupos -->
				 <tbody>
					<tr th:each="sub : ${subgrupos}">
					<td th:text="${sub.id}"></td>
					<td th:text="${sub.nome}"></td>
					<td th:text="${sub.grupo.nome}"></td>
					<td>
						<a type="button" class="edit" title="Editar" sec:authorize="hasRole('MANAGER')" th:href="@{/subgrupos/editar/{id} (id=${sub.id}) }" >
	                	<i class="bi bi-pencil-square"></i>
	                	</a>
	                 	<a type="button" class="delete"  title="Excluir" sec:authorize="hasRole('ADMIN')" th:href="@{/subgrupos/excluir/{id} (id=${sub.id}) }">
	                 	<i class="bi bi-trash3"></i></a>
	         
	                 	
	               		<a class="look" th:href="@{/produtos/subgrupos/{id} (id=${sub.id})}" >
	               		<i class="bi bi-eye-fill" title="Produtos"></i></a> 
	                	 <tr th:each="p : ${search}">
	                	 <td th:text="${p.id}"></td>
	                	<td th:text="${p.nome}">
	                </td>
	                </tr>
			</table>
		</div>
	
</body>
</html>