<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
	<title>Sistema SIMECC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/nota.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      
</head>
<body>
    <div th:replace="~{navbar :: menu-principal}"></div>

		
    <div class="container">
        <h2 class="titulo">Nota Fiscal</h2>
        
        	<div th:replace="~{alert}"></div>


      	 <form id="notaForm" th:action="@{/notas/salvar}" th:object="${nota}" method="post">
         
         
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="portaria">Portaria</label>
                        <select id="portaria" th:field="*{portaria}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma portaria</option>
                            <option th:each="portaria : ${portarias}" th:value="${portaria}" th:text="${portaria}"></option>
                        </select>
                    </div>
                     <div class="form-group" style="margin-top: 20px;">
   						 <label for="data">Data da Digitação</label>
   						 <input type="date" id="data" name="data" class="form-control" 
           						th:value="${#temporals.format(datadigitacao, 'yyyy-MM-dd')}" 
           						th:field="*{data}" 
           						style="width: 200px;" />
					</div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="faixaHorario">Faixa de Horário</label>
                        <select id="faixaHorario" th:field="*{faixaHorario}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma faixa de horário</option>
                            <option th:each="faixaHorario : ${faixasHorarios}" th:value="${faixaHorario}" th:text="${faixaHorario}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoVeiculo">Tipo de Veículo</label>
                        <select id="tipoVeiculo" th:field="*{tipoVeiculo}" class="form-control" required>
                            <option value="" disabled selected>Selecione um tipo de veículo</option>
                            <option th:each="tipoVeiculo : ${tiposVeiculos}" th:value="${tipoVeiculo.split(' - ')[0]}" th:text="${tipoVeiculo}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="localDestino">Local de Destino</label>
                        <select id="localDestino" th:field="*{localDestino}" class="form-control" required>
                            <option value="" disabled selected>Selecione um local de destino</option>
                            <option th:each="localDestino : ${locaisDestinos}" th:value="${localDestino.split(' - ')[0]}" th:text="${localDestino}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="municipioCodigo">Município</label>
                        <div class="input-group">
  							  <!-- Input para código do município -->
   							 <input id="municipioCodigo" type="text" class="form-control" placeholder="Digite o código do município">
    						<!-- Campo escondido para armazenar o ID -->
   							 <input type="hidden" id="municipioId" name="municipio.id">
   							 <!-- Campo para exibir o nome do município -->
   							 <input id="municipioNome" type="text" class="form-control" readonly placeholder="Nome do município">
   							 
   							 <input id="municipioUF" type="text" class="form-control" readonly placeholder="Estado do município">
  						  <button type="button" onclick="openMunicipioModal()">Buscar Município</button>
					</div>
                    </div>
                </div>
            </div>

            <h3 class="subtitulo">Produtos</h3>
            <div id="itensContainer">
                <div class="item row mb-3">
                    <div class="col-md-4 form-group-inline">
                        <label for="propertyCode-0">Código:</label>
                        <input type="text" id="propertyCode-0" class="form-control form-control-small" placeholder="Digite o código da propriedade">
                        <div id="propertyResult-0" class="property-result" readonly></div>
                        <input type="hidden" id="propriedadeId-0" name="itens[0].propriedade.id">
                    </div>
                  
                    
                    <div class="col-md-2 form-group-inline" style="margin-left: 100px;">
   						 <label for="embalagem-0">Embalagem:</label>
  						  <select id="embalagem-0" name="itens[0].embalagem.id" class="form-control form-control-small" required>
    					    <option value="" disabled selected>Selecione</option>
    					    <option th:each="embalagem : ${embalagens}" th:value="${embalagem.id}" th:text="${embalagem.codigo} + ' - ' + ${embalagem.tipoEmbalagem} + ' (' + ${embalagem.peso} + 'kg)'"></option>
 						  </select>
					</div>
					
					  <div class="col-md-3 form-group-inline" style="margin-left: 100px;">
                        <label for="quantidade-0">Quantidade: </label>
                        <input type="number" id="quantidade-0" name="itens[0].quantidade" class="form-control form-control-small" step="any" required>
                    </div>
                    
                    <div class="col-md-1 d-flex align-items-center" >
                        <button type="button" class="btn btn-danger btn-sm remove-item" style="margin-left: 20px;">x</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary add-item" onclick="addItem()">Adicionar Item</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <!-- Inclusão dos modais -->
    <div th:replace="~{municipioSearchModal :: municipioSearchModal}"></div>
    <div th:replace="~{productSearchModal :: productSearchModal}"></div>





    <script>
        function openMunicipioModal() {
            document.getElementById('municipioSearchModal').style.display = 'block';
        }

        function closeMunicipioModal() {
            document.getElementById('municipioSearchModal').style.display = 'none';
        }

        function selectMunicipio(id, nome, ibge) {
            const municipioSelect = document.getElementById('municipio');
            municipioSelect.innerHTML = ''; // Limpar opções anteriores
            const option = document.createElement('option');
            option.value = id; // Usando o ID em vez do código IBGE
            option.text = `${ibge} - ${nome}`;
            option.selected = true;

            municipioSelect.appendChild(option);
            closeMunicipioModal();
        }

        $(document).ready(function() {
            let itemIndex = 0;

            function searchPropertyByCode(index) {
                let code = $(`#propertyCode-${index}`).val();
                if (code.length > 0) {
                    $.ajax({
                        url: '/notas/searchPropertyByCode',
                        method: 'GET',
                        data: { code: code },
                        success: function(response) {
                            if (!response || !response.propriedade) {
                                $(`#propertyResult-${index}`).text('Nenhuma propriedade encontrada.');
                            } else {
                                const propriedade = response.propriedade;
                                const embalagens = response.embalagens;

                                $(`#propertyResult-${index}`).text(`${propriedade.codigo} - ${propriedade.produto.nome} ${propriedade.variedade} ${propriedade.subvariedade} ${propriedade.classificacao} ${propriedade.peso} ${propriedade.unidade}`);
                                $(`#propriedadeId-${index}`).val(propriedade.id);

                                // Limpar e preencher o select de embalagens com as embalagens associadas à propriedade
                                const embalagemSelect = $(`#embalagem-${index}`);
                                embalagemSelect.empty(); // Limpa as opções anteriores
                                embalagemSelect.append('<option value="" disabled selected>Selecione</option>'); // Adiciona a opção default

                                embalagens.forEach(function(embalagem) {
                                    embalagemSelect.append(`<option value="${embalagem.id}">${embalagem.codigo} - ${embalagem.tipoEmbalagem} (${embalagem.peso}kg)</option>`);
                                });
                            }
                        },
                        error: function() {
                            $(`#propertyResult-${index}`).text('Nenhuma propriedade encontrada.');
                        }
                    });
                }
            }


            // Bind event to first item
            $('#propertyCode-0').on('input', function() {
                searchPropertyByCode(0);
            });

            function addItem() {
                itemIndex++;
                const newItem = `
                    <div class="item row mb-3">
                        <div class="col-md-4 form-group-inline">
                            <label for="propertyCode-${itemIndex}">Código:</label>
                            <input type="text" id="propertyCode-${itemIndex}" class="form-control form-control-small" placeholder="Digite o código da propriedade">
                            <div id="propertyResult-${itemIndex}" class="property-result" readonly></div>
                            <input type="hidden" id="propriedadeId-${itemIndex}" name="itens[${itemIndex}].propriedade.id">
                        </div>
                        
                        <div class="col-md-2 form-group-inline" style="margin-left: 100px;">
                        	<label for="embalagem-${itemIndex}">Embalagem:</label>
                        		<select id="embalagem-${itemIndex}" name="itens[${itemIndex}].embalagem.id" class="form-control form-control-small" required>
                        	    	<option value="" disabled selected>Selecione</option>
                            		${$('#embalagem-0').html()} <!-- Replicando o conteúdo de embalagem -->
                        		</select>
                    	</div>
                        <div class="col-md-3 form-group-inline" style="margin-left: 100px;">
                            <label for="quantidade-${itemIndex}">Quantidade:</label>
                            <input type="number" id="quantidade-${itemIndex}" name="itens[${itemIndex}].quantidade" class="form-control form-control-small" step="any" required>
                        </div>
                      
                        <div class="col-md-1 d-flex align-items-center" style="margin-left: 20px;">
                            <button type="button" class="btn btn-danger btn-sm remove-item">x</button>
                        </div>
                    </div>`;
                $('#itensContainer').append(newItem);

                // Bind event to new item
                $(`#propertyCode-${itemIndex}`).on('input', function() {
                    searchPropertyByCode(itemIndex);
                });
                
                // Focar automaticamente no campo Código do novo item
                $(`#propertyCode-${itemIndex}`).focus();

                updateRemoveButtons();
            }
            // Add item event
            $('.add-item').on('click', function() {
                addItem();
            });

            // Remove item event
            $('#itensContainer').on('click', '.remove-item', function() {
                $(this).closest('.item').remove();
                updateRemoveButtons();
            });

            function updateRemoveButtons() {
                const items = $('#itensContainer .item');
                items.each(function(index, item) {
                    const removeButton = $(item).find('.remove-item');
                    removeButton.prop('disabled', items.length === 1);
                });
            }

            updateRemoveButtons();
        });
        
        
    </script>
    
    <script>
    document.addEventListener('keydown', function(event) {
        if (event.altKey && event.key === 'f') {  // 'f' para a tecla F
            openProductSearchModal();
            event.preventDefault();  // Evita qualquer comportamento padrão
        }
    });

    function openProductSearchModal() {
        document.getElementById('productSearchModal').style.display = 'block';
    }

    function closeProductSearchModal() {
        document.getElementById('productSearchModal').style.display = 'none';
    }
</script>
<script>
function openProductSearchModal() {
    document.getElementById('productSearchModal').style.display = 'block';
}

function closeProductSearchModal() {
    document.getElementById('productSearchModal').style.display = 'none';
}

function searchProductByName() {
    const productName = document.getElementById('productName').value;

    fetch(`/notas/searchPropertyByProductName?productName=${productName}`)
        .then(response => response.json())
        .then(data => {
            const resultsBody = document.getElementById('productResultsBody');
            resultsBody.innerHTML = '';
            data.forEach(propriedade => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${propriedade.produto.nome}</td>
                    <td>${propriedade.codigo}</td>
                    <td>${propriedade.variedade}</td>
                    <td>${propriedade.subvariedade}</td>
                    <td>${propriedade.classificacao}</td>
                    
                    
                    
                    <td><button type="button" class="btn btn-primary" onclick="selectProduct('${propriedade.codigo}', '${propriedade.id}', '${propriedade.variedade}','${propriedade.subvariedade}')">Selecionar</button></td>`;
                resultsBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error:', error));
}

function selectProduct(codigo, id, variedade, subvariedade) {
    const itemIndex = $('#itensContainer .item').length - 1; // Obter o índice do último item adicionado
    const propertyCodeField = document.getElementById(`propertyCode-${itemIndex}`);
    const propertyResultField = document.getElementById(`propertyResult-${itemIndex}`);
    const propertyIdField = document.getElementById(`propriedadeId-${itemIndex}`);

    propertyCodeField.value = codigo;
    propertyResultField.textContent = `Código: ${codigo} - ${variedade} - ${subvariedade}`; // Pode ser ajustado conforme a informação que deseja exibir
    propertyIdField.value = id;

    closeProductSearchModal();
}

</script>
<script th:inline="javascript">
    window.onload = function() {
        const portariaField = document.getElementById("portaria");
        if (portariaField) {
            portariaField.focus();
        }
    };
</script>


  <script src="/script/nota/clearForm.js"></script>
   <script src="/script/nota/searchMunicipioByCodigo.js"></script>
    <script src="/script/nota/municipioSearch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
