<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<title>Sistema SIMECC</title>
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

   
    <div th:replace="~{navbar :: menu-principal}"></div>

    <div class="container mt-4">
        <h2>Editar Nota Fiscal</h2>

        <form id="notaForm" th:action="@{/notas/salvar}" th:object="${nota}" method="post">
            <!-- Atributos da nota -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="portaria">Portaria</label>
                        <select id="portaria" th:field="*{portaria}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma portaria</option>
                            <option th:each="portaria : ${portarias}" th:value="${portaria}" th:text="${portaria}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" id="data" th:field="*{data}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="faixaHorario">Faixa de Horário</label>
                        <select id="faixaHorario" th:field="*{faixaHorario}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma faixa de horário</option>
                            <option th:each="faixaHorario : ${faixasHorarios}" th:value="${faixaHorario}" th:text="${faixaHorario}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoVeiculo">Tipo de Veículo</label>
                        <select id="tipoVeiculo" th:field="*{tipoVeiculo}" class="form-control" required>
                            <option value="" disabled selected>Selecione um tipo de veículo</option>
                            <option th:each="tipoVeiculo : ${tiposVeiculos}" th:value="${tipoVeiculo}" th:text="${tipoVeiculo}"></option>
                        </select>
                    </div>
                </div>
                <!-- Campos adicionais -->
            </div>

            <!-- Itens da Nota -->
            <h3>Itens da Nota</h3>
            <div id="itensContainer">
                <div class="item row mb-3" th:each="item, iterStat : ${nota.itens}">
                    <div class="col-md-4 form-group-inline">
                        <label th:for="'propertyCode-' + ${iterStat.index}">Código:</label>
                        <input type="text" th:id="'propertyCode-' + ${iterStat.index}" class="form-control form-control-small" th:field="*{itens[__${iterStat.index}__].propriedade.codigo}" readonly>
                    </div>
                    <div class="col-md-2 form-group-inline">
                        <label th:for="'quantidade-' + ${iterStat.index}">Quantidade:</label>
                        <input type="number" th:id="'quantidade-' + ${iterStat.index}" th:field="*{itens[__${iterStat.index}__].quantidade}" class="form-control form-control-small" step="any" required>
                    </div>
                    <div class="col-md-3 form-group-inline">
                        <label th:for="'embalagem-' + ${iterStat.index}">Embalagem:</label>
                        <select th:id="'embalagem-' + ${iterStat.index}" th:field="*{itens[__${iterStat.index}__].embalagem.id}" class="form-control form-control-small" required>
                            <option value="" disabled selected>Selecione</option>
                            <option th:each="embalagem : ${embalagens}" th:value="${embalagem.id}" th:text="${embalagem.codigo} + ' - ' + ${embalagem.tipoEmbalagem} + ' (' + ${embalagem.peso} + 'kg)'"></option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
    </div>

</body>
</html>
