<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Nota Fiscal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .titulo {
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        .subtitulo {
            font-size: 1.25em;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .search-icon {
            cursor: pointer;
            margin-left: 10px;
        }
        .form-control-wide {
            width: 100%;
        }
        .form-control-small {
            width: auto;
        }
    </style>
</head>
<body>
    <div th:replace="~{navbar :: menu-principal}"></div>

    <div class="container">
        <h2 class="titulo">Cadastro de Nota Fiscal</h2>
        <form id="notaForm" th:action="@{/notas/salvar}" th:object="${nota}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="portaria">Portaria</label>
                        <select id="portaria" th:field="*{portaria}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma portaria</option>
                            <option th:each="portaria : ${portarias}" th:value="${portaria}" th:text="${portaria}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" id="data" th:field="*{data}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="faixaHorario">Faixa de Horário</label>
                        <select id="faixaHorario" th:field="*{faixaHorario}" class="form-control" required>
                            <option value="" disabled selected>Selecione uma faixa de horário</option>
                            <option th:each="faixaHorario : ${faixasHorarios}" th:value="${faixaHorario}" th:text="${faixaHorario}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoVeiculo">Tipo de Veículo</label>
                        <select id="tipoVeiculo" th:field="*{tipoVeiculo}" class="form-control" required>
                            <option value="" disabled selected>Selecione um tipo de veículo</option>
                            <option th:each="tipoVeiculo : ${tiposVeiculos}" th:value="${tipoVeiculo}" th:text="${tipoVeiculo}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="localDestino">Local de Destino</label>
                        <select id="localDestino" th:field="*{localDestino}" class="form-control" required>
                            <option value="" disabled selected>Selecione um local de destino</option>
                            <option th:each="localDestino : ${locaisDestinos}" th:value="${localDestino}" th:text="${localDestino}"></option>
                        </select>
                    </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="municipio">Município</label>
                        <div class="input-group">
                            <select id="municipio" th:field="*{municipio.ibge}" class="form-control" required>
                                <option value="" disabled selected>Selecione um município</option>
                                <option th:each="municipio : ${municipios}" th:value="${municipio.ibge}" th:text="${municipio.ibge} + ' - ' +${municipio.nome}"></option>
                            </select>
                            <button type="button" class="btn btn-outline-secondary search-icon" data-bs-toggle="modal" data-bs-target="#searchMunicipioModal">Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="subtitulo">Produtos</h3>
            <div id="itensContainer">
                <div class="item row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="propriedade-0">Propriedade</label>
                            <div class="input-group">
                                <input type="text" id="searchPropriedade-0" class="form-control" placeholder="Digite o código ou nome da variedade" oninput="searchPropriedades(0)">
                                <select id="propriedade-0" name="itens[0].propriedade.id" class="form-control form-control-wide" required>
                                    <option value="" disabled selected>Selecione uma propriedade</option>
                                    <option th:each="p : ${propriedades}" th:value="${p.id}" th:text="${p.id} + ' - ' + ${p.produto.nome} + ' - ' + ${p.codigo} + ' - ' + ${p.variedade}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 offset-md-1">
                        <div class="form-group">
                            <label for="quantidade-0">Quantidade</label>
                            <input type="number" id="quantidade-0" name="itens[0].quantidade" class="form-control form-control-small" required>
                        </div>
                    </div>
                    <div class="col-md-2 offset-md-2">
                        <div class="form-group">
                            <label for="unidadeMedida-0">Unidade de Medida</label>
                            <select id="unidadeMedida-0" name="itens[0].unidadeMedida" class="form-control" required>
                                <option value="" disabled selected>Selecione uma unidade de medida</option>
                                <option th:each="um : ${unidadesMedida}" th:value="${um}" th:text="${um}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="button" class="btn btn-danger btn-sm" onclick="removeItem(this)">x</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="addItem()">Adicionar Item</button>
            <br><br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/script/nota/clearForm.js"></script>
    <script src="/script/nota/itemManagement.js"></script>
    <script src="/script/nota/propriedadeSearch.js"></script>
    
    <!-- Modal de Pesquisa de Municípios -->
    <!-- Modal de Pesquisa de Municípios -->
    <div class="modal fade" id="searchMunicipioModal" tabindex="-1" role="dialog" aria-labelledby="searchMunicipioModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchMunicipioModalLabel">Pesquisar Município</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="searchMunicipioForm">
                        <div class="form-group">
                            <label for="searchNome">Nome</label>
                            <input type="text" id="searchNome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="searchIbge">Código IBGE</label>
                            <input type="text" id="searchIbge" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="searchUf">UF</label>
                            <input type="text" id="searchUf" class="form-control">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="searchMunicipios()">Pesquisar</button>
                    </form>
                    <div id="searchResults" class="mt-3">
                        <!-- Resultados da pesquisa serão exibidos aqui -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>