<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title>Sistema DEVCEASA</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

	<div id="navmenu" th:insert="~{navbar :: menu-principal}"> </div>
	
	
	<section class="layout-content" layout:fragment="corpo">
	<div class="container">
		
				<table class="table">
			<thead>
				<tr>
					<th>Produto</th>
					<th>Id</th>
					<th>Código</th>
					<th>Variedade</th>
					<th>Subvariedade</th>
					<th>Classificacao</th>
					<th>Embalagem</th>
					<th>Peso</th>
					<th>Unidade</th>
					<th>Cotação</th>
					<th>Editar/Excluir</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="prop : ${propriedades}">
					<td th:text="${prop.produto.nome}"></td>
					<td th:text="${prop.id}"></td>
					<td th:text="${prop.codigo}"></td>
					<td th:text="${prop.variedade}"></td>
					<td th:text="${prop.subvariedade}"></td>
					<td th:text="${prop.classificacao}"></td>
					<td th:text="${prop.embalagem}"></td>
					<td th:text="${prop.peso}"></td>
					<td th:text="${prop.unidade}"></td>
					<td th:text="${prop.status} ? 'Sim' : 'Não'" ></td>
					<td colspan="2">
						<a class="btn btn-primary" sec:authorize="hasRole('MANAGER')" th:href="@{/propriedades/editar/{id} (id=${prop.id}) }" role="button">
	                	<span class="oi oi-brush" title="Editar" aria-hidden="true">Editar</span>
	                	</a>
	                 	<a class="btn btn-danger" sec:authorize="hasRole('ADMIN')" th:href="@{/propriedades/excluir/{id} (id=${prop.id}) }" role="button"
	                	 title="excluir" aria-hidden="true">Excluir</a>
	                 </td>
				</tr>

			</tbody>
		</table>
		
		
	</div>
	</section>	
	
		
		
		

</body>
</html>