<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title>Sistema DEVCEASA - Lista de Feiras</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>




</head>


<body>
    <div id="navmenu" th:insert="~{navbar :: menu-principal}"></div>

    <div class="container">
        <div th:replace="~{alert}"></div>
        <br>
        <div class="meu-hr">
            <p>Feiras</p>
        </div>

        <button type="button" class="btn btn-primary btn-sm" 
        onclick="window.location.href='/feiras/nova?data=' + document.getElementById('dataInput').value">
    Abrir Nova Feira
</button>
<input type="date" id="dataInput" value=""> 

        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Número da Feira</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="feira : ${feiras}">
                    <td th:text="${#temporals.format(feira.dataFeira, 'dd/MM/yyyy')}"></td>
                    <td th:text="${feira.statusFeira}"></td>
                    <td th:text="${feira.numero != null} ? ${feira.numero} : '-'"></td> 
                    <td>
                        <a th:href="@{/feiras/{id}/cotacoes(id=${feira.id})}" class="btn btn-primary btn-sm">Visualizar Cotações</a>
                        <button th:if="${feira.statusFeira.name() == 'ABERTA'}" th:data-feira-id="${feira.id}" class="btn btn-secondary btn-sm encerrar-feira">Encerrar</button>
                        <button th:if="${feira.statusFeira.name() == 'FECHADA' and #authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:data-feira-id="${feira.id}" class="btn btn-success btn-sm publicar-feira">Publicar</button>
                        <a th:if="${feira.statusFeira.name() == 'PUBLICADA'}" th:href="@{/cotacoes/gerar-pdf(dataCotacao=${feira.dataFeira})}" class="btn btn-info btn-sm">Gerar PDF</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $(".encerrar-feira").click(function() {
                var feiraId = $(this).data("feira-id");
                if (confirm("Tem certeza que deseja encerrar esta feira?")) {
                    $.ajax({
                        url: "/feiras/" + feiraId + "/encerrar",
                        method: "PUT",
                        success: function() {
                            location.reload(); // Recarrega a página após encerrar
                        },
                        error: function() {
                            alert("Erro ao encerrar a feira.");
                        }
                    });
                }
            });

            $(".publicar-feira").click(function() {
                var feiraId = $(this).data("feira-id");
                if (confirm("Tem certeza que deseja publicar esta feira?")) {
                    $.ajax({
                        url: "/feiras/" + feiraId + "/publicar",
                        method: "PUT",
                        success: function() {
                            location.reload(); // Recarrega a página após publicar
                        },
                        error: function() {
                            alert("Erro ao publicar a feira.");
                        }
                    });
                }
            });
        });
    </script>



</body>
</html>