<!-- templates/modais/municipioSearchModal.html -->
<div th:fragment="municipioSearchModal">
    <div id="municipioSearchModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Buscar Município</h2>
            <form id="searchForm">
            
             <label for="codigoIbge">Código IBGE:</label>
             <input type="text" id="codigoIbge" name="codigoIbge" onkeyup="searchMunicipio()">
                
                <label for="municipioName">Nome do Município:</label>
                <input type="text" id="municipioName" name="municipioName" onkeyup="searchMunicipio()">

                <label for="uf">UF:</label>
                <select id="uf" name="uf" onchange="searchMunicipio()">
                    <option value="">Selecione</option>
                    <option value="MG">MG</option>
                    <option value="SP">SP</option>
                    <option value="RJ">RJ</option>
                    <option value="RS">RS</option>
                    <option value="SC">SC</option>
                    <option value="PR">PR</option>
                    <option value="ES">ES</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="GO">GO</option>
                    <option value="DF">DF</option>
                    <option value="TO">TO</option>
                    <option value="RO">RO</option>
                    <option value="AM">AM</option>
                    <option value="PA">PA</option>
                    <option value="AC">AC</option>
                    <option value="BA">BA</option>
                    <option value="PE">PE</option>
                    <option value="AL">AL</option>
                    <option value="PB">PB</option>
                    <option value="CE">CE</option>
                    <option value="AP">AP</option>
                    <option value="MA">MA</option>
                    <option value="PI">PI</option>
                    <option value="RN">RN</option>
                    <option value="RR">RR</option>
                    <option value="SE">SE</option>
                    <!-- Adicione outras UFs conforme necessário -->
                </select>

               
            </form>
            <table id="resultsTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>UF</th>
                        <th>Código IBGE</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody id="resultsBody">
                    <!-- Resultados da busca serão inseridos aqui -->
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>
