<div th:fragment="pesoTotalModal">
<div id="pesoTotalModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePesoModal()">&times;</span>
        <h2>Informe o Peso Total</h2>
        <form id="pesoForm">
            <div class="form-group">
                <label for="pesoTotal">Peso Total (kg):</label>
                <input type="number" id="pesoTotal" name="pesoTotal" class="form-control" step="any" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Confirmar</button>
        </form>
    </div>
</div>

</div>

