
<!-- cotacao_pesquisar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/myStyle.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/script/cotacao/nova_pesquisa_propriedade.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script
	 th:src="@{/script/cotacao/nova_pesquisa_propriedade.js}"></script>
<title>Pesquisa de Propriedade</title>
</head>
<body>

	<div id="navmenu" th:insert="~{navbar :: menu-principal}"></div>
	<div class="container">
		<h4>Pesquisa por código ou propriedade</h4>

		<div th:if="${success}" class="alert alert-success" role="alert">
			<p th:text="${success}"></p>
		</div>

		<div th:if="${fail}" class="alert alert-danger" role="alert">
			<p th:text="${fail}"></p>
		</div>

		<form th:action="@{/embalagens/associar}" method="GET">
			
			<div class="form-group">
				<label for="propertyCode">Código da Propriedade:</label> <input
					type="text" id="propertyCode" class="form-control"
					placeholder="Digite o código da propriedade">
			</div>
			<div class="form-group">
				<label for="productName">Nome do Produto:</label> <input type="text"
					id="productName" class="form-control"
					placeholder="Digite o nome do produto">
				<button type="button" class="btn btn-secondary"
					id="searchProductButton">Pesquisar</button>
			</div>
			<div id="searchResults">
				<!-- Resultados da pesquisa serão carregados aqui -->
			</div>
			<input type="hidden" id="propriedadeId" name="propriedadeId">
			<button type="submit" class="btn btn-primary"
				id="selectPropertyButton" disabled>Selecionar Propriedade</button>
		</form>
	</div>
	<script th:inline="javascript">
		$(document)
			.ready(
				function() {
				  $('#propertyCode').focus();
				  $('#propertyCode').on('input',
						  function() {
							let code = $(this).val();
							if (code.length > 0) {
								$.ajax({url : '/embalagens/searchPropertyByCode',
									method : 'GET',	data : {code : code},
									success : 
										function(data) {
											if (!data) {$('#searchResults')
												.html(
												'<p>Nenhuma propriedade encontrada.</p>');
												} else {
													$('#propriedadeId')
													.val(data.id); // Set the hidden input value
													$('#searchResults').html('<p>Propriedade encontrada: '
														+ data.codigo+ ' - '
														+ data.produto.nome+ ' '
														+ data.variedade+ ' '
														+ data.subvariedade+ ' '
														+ data.classificacao+ ' '
														+ data.peso+ ' '
														+ data.unidade+ '</p>');
														$('#selectPropertyButton').prop('disabled',false);
														console.log('propriedadeId set to:',
																	data.id); // Log for debugging
														}
													},
													error : function() {$('#searchResults').html(
																	'<p>Nenhuma propriedade encontrada.</p>');
																}
															});
												}
											});

			$('#searchProductButton').click(
				function() {let productName = $('#productName').val();
						if (productName.length > 0) {$.ajax({
							url : '/embalagens/searchPropertyByProductName',
							method : 'GET',data : {productName : productName},
								success : function(	data) {
								if (data.length === 0) {$('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
															} else {
																	let resultsHtml = '<ul>';
																	data.forEach(function(
																				item) {
																				resultsHtml += '<li><a href="#" class="select-property" data-id="' + item.id + '">'
																				+ item.codigo+ ' - '
																				+ item.produto.nome+ ' '+ item.variedade+ ' '
																				+ item.subvariedade+ ' '+ item.classificacao+ ' '
																				+ item.peso+ ' '+ item.unidade+ '</a></li>';
																				});
																		resultsHtml += '</ul>';
																		$('#searchResults').html(resultsHtml);

																		$('.select-property').click(
																			function(e) {e.preventDefault();
																							$('#propriedadeId').val($(this).data('id')); // Set the hidden input value
																							$('#searchResults').html('<p>Propriedade selecionada: '+ $(this).text()+ '</p>');
																							$('#selectPropertyButton').prop('disabled',false);
																							console.log('propriedadeId set to:',$(this).data('id')); // Log for debugging
																						});
																	}
																},
																error : function() {$('#searchResults').html('<p>Nenhuma propriedade encontrada.</p>');
																}
															});
												}
											});
						});
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
